@model IEnumerable<MVC_OnlineStore.Models.ViewModels.CartViewModel>

@{
    ViewBag.Title = "Корзина";
}

<h2>Корзина</h2>

@if (ViewBag.Message != null)
{
    <h3>@ViewBag.Message</h3>
}
else
{
    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th>
                Изображение
            </th>

            <th>

            </th>

            <th>
                Общая стоимость
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="qty@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                    }
                    else
                    {
                        <img src="~/Content/img/no_image.png"/>
                    }
                </td>

                <td>
                    <a href="#" class="incproduct" data-id="@item.ProductId">+</a>
                    <a href="#" class="decproduct" data-id="@item.ProductId">-</a>
                    <a href="#" class="removeproduct" data-id="@item.ProductId">remove</a>
                </td>

                <td class="total@(item.ProductId)">
                    @Html.DisplayFor(modelItem => item.Total)$
                </td>

            </tr>
        }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="grandtotal"><b>Общая стоимость</b><span>@ViewBag.Total$</span></td>
        </tr>

    </table>
}

@section Scripts{
    <script src="~/Content/scripts/increment.js"></script>
}
