<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-public">
        <div class="icon-sport">
            <a class="navbar-brand my-logo" href="/">TropsShop</a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="icon-search search">
            <input type="text" name="name" value="" />
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                @Html.Action("PagesMenuPartial", "Pages")

                @if (!Request.IsAuthenticated)
                {
                    if (ViewBag.Title == "Login")
                    {
                        <li class="navbar-text icon-user">@Html.ActionLink("Войдите в личный кабинет", "Login", "Account", "", new { @class = "active" })</li>
                    }
                    else
                    {
                        <li class="navbar-text icon-user">@Html.ActionLink("Войдите в личный кабинет", "Login", "Account", "", new { @class = "navbar-text" })</li>
                    }
                }

                else if (Request.IsAuthenticated && User.IsInRole("User"))
                {
                    if (ViewBag.Title == "UserProfile")
                    {
                        <li class="active">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }
                    else
                    {
                        <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                    }

                    <li>@Html.ActionLink("Logout", "Logout", "Account", "", new { @class = "navbar-text" })</li>

                    if (ViewBag.Title != "Корзина")
                    {
                        <span class="navbar-text">
                            @Html.Action("CartPartial", "Cart")
                        </span>
                    }
                }
                else if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Logout", "Logout", "Account", "", new { @class = "navbar-text" })</li>
                    <span class="navbar-text">
                        @Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null)
                    </span>
                }
            </ul>
        </div>
    </nav>


    <div class="container body-content" style="margin-top: 35px;">
        <div class="row">

            @if (ViewBag.Title == "HOME")
            {

                <div class="col">
                    @RenderBody()
                </div>

                @*<div class="col-sm-12 col-md-3 list-group">
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </div>
                    <div class="col-sm-12 col-md-3 list-group">
                        @Html.Action("Category", "Shop")
                    </div>
                    <div class="col">
                        @RenderBody()
                    </div>*@
            }
            else
            {
                if (ViewBag.Title != "Login" && ViewBag.Title != "User Profile")
                {
                    <div class="col-sm-12 col-md-3 list-group">
                        @Html.Action("CategoryMenuPartial", "Shop")
                    </div>
                }

                if (ViewBag.SideBar == "Yes")
                {
                    <div class="col">
                        @RenderBody()
                    </div>

                    <div class="col-sm-12 col-md-3">
                        @Html.Action("SideBarPartial", "Pages")

                    </div>
                }
                else
                {
                    <div class="col">
                        @RenderBody()
                    </div>
                }
            }


        </div>

        @if (ViewBag.Title != "HOME")
        {
            <hr />
            <footer>
                <div class="row">
                    <div class="col-6  "><p>&copy; @DateTime.Now.Year - TropsShop</p></div>
                    <div class="col-6 f-col">
                        <div class="text-social">Связь с нами</div>
                        <div class="icon"><a href="#" class="icon-facebook "></a></div>
                        <div class=" icon"><a href="#" class="icon-instagram"></a></div>
                        <div class=" icon"><a href="#" class="icon-telegram"></a></div>
                    </div>
                </div>
            </footer>
        }

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
