@model MVC_OnlineStore.Models.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Add Product";
}

<h2>Добавить товар</h2>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm("AddProduct", "Products", FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Название товара:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Категория товара:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CategoryId, Model.Categories, "Выберите категорию...", new { @class = "drop-down-options" })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Описание:</label>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "my-textarea" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Цена:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Изображение товара:</label>
            <div class="col-md-2">
                <input type="file" name="file" id="imageUpload" />
                <img id="imgpreview" src="~/Content/img/no_image.png" />
            </div>

            <div class="col-md-10">
                @Html.ValidationMessageFor(model => model.ImageName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить продукт" class="btn add-btn" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index","",new {@class="back-link"})
</div>

@section Scripts
{
    <script src="~/Content/scripts/products.js"></script>
}
